/* add your CSS here */
/* Lato font to body */
body{
	font-family: 'Open Sans', sans-serif;
}

/* Image width set to 300px */
img{
	width: 300px;
}

.animal-image{
	transition: transform .2s;
}

.animal-image:hover{
	transform: scale(1.02);
	opacity: 0.9;
}

/* The text is italicized for the animal’s interesting fact. */
.animal-fact{
	font-style: italic;
}

/* The labels are bolded for the animal’s list items. */
.animal-label{
	font-weight: bold;
}

/* The dots are removed from the animal's list items. */
ul{
	list-style-type: none;
	padding: 0;
}

/* Uses border around animal’s name, image, and information (interesting fact, list items, and description). */
.animal-card{
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
	width: 300px;
	box-shadow: 5px 5px #f1f1f1;
	background: radial-gradient(rgb(190, 190, 190), white);
}

/* Uses border around animal’s information. */
.animal-information{
	border: 1px solid lightgray;
	margin-top: 5px;
	padding: 5px;
	font-size: 12px;
}